<h1>About</h1>

<div id='about-page'>
  
  <%= image_tag 'dan.jpg', :id => 'about-headshot' %>

  <p>
  Wow my very own website.  Really, how many people can say that? According to Google, a lot, apparently.  This is my blog dedicated to all the things I love: music, movies, sports, technology, politics, vegan cuisine, sarcasm, cats, parentheses, and pictures of cats acting like people (seriously check it out). Oh, and string theory.  So thanks very much for visiting my page of wonders.  I know there a lot of other options out there, but I truly hope to find a sliver of room in the heart of your digital kingdom.  If not, I can always just put porn up instead. Come on, dare me!
  </p>

  <p>
  I also hope this blog will serve as a time capsule, minus the hassle/complete waste of time of actually burying a time capsule.  Really, I can’t wait for the day when my children and my children’s children can see how much free time I had to rant about Breaking Bad and new Arcade Fire albums instead of building them any resemblance of an inheritance.  No worries Future Children! I probably would have wasted any inheritance on short-sighted business ventures anyway. And really, I don’t care if that’s comforting or not since you’re all probably living on a sweet ass Moon colony by now. So go take your bionic exoskeletons and get a job.
  </p>
 
  <p>
  Anyway, I’d like to give thanks to some very special people who’ve helped me along the way. Thanks to my family, Liz L., Aidan, Allison, Kari, Jacob, Mike, AZ, Malia Obama, Lost seasons 1 through 3, and all parties involved in Pacers-Pistons’ Malice in the Palace©. A very special thanks to Matt aka Goggins aka Dirty Dog Johnson, The Roommate, the Badger to my Skinny Pete (Aidan is Combo). Oh, and he’s the dude who actually put this website together (like with the code and stuff. You know, source codes in the matrix and whatnot. It’s all very technical). Thanks bro, and sorry I ate the last banana. Let’s DO THIS!
  </p>

</div>