#login_icon {
width: 20px;
cursor: pointer;
float: left;
}

#flash_error {
border: thin solid red;
}

#flash_alert {
border: thin solid white;
}

.flash {
padding: 10px;
width: 700px;
margin: 0px auto;
color: white;
       border-radius: 8px;
text-align: center;
}

#about-headshot {
  width: 300px;
  float: left;
  margin: 20px;
}

#about-page {
 font-size: 1.2em;
}